{% extends 'base.html.twig' %}

{% block title %} Personnage {% endblock %}

{% block body %}
    {% block monTitre%} Liste des personnages {% endblock %}

    <div><img src="{{ asset("images/personnages/Marc.png") }}" alt=""></div>


{% endblock %}
